{% extends 'base.html' %}
{% block body %}
<div class="container my-4">
    <h2>Add an expense</h2>
<form action="/add-expense" method="POST">
  <div class="form-group">
    <label for="desc">Description</label>
    <input type="text" class="form-control" name="desc" id="desc" placeholder="">
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="number" class="form-control" name="amount" id="amount" aria-describedby="emailHelp" placeholder="">
  </div>
  <div class="form-group">
    <label for="currency">Currency</label>
    <input type="text" class="form-control" name="currency" id="currency" placeholder="">
  </div>
  <button type="submit" class="btn btn-info btn-outline-info">Submit</button>
</form>
</div>
{% endblock body %}